<div class="container">
  <div class="content-principal">
    <img class="img-pokeapi" src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="">
    <span class="title-principal">Explora los diversos pokemones</span>
  </div>
  <div class="card">
    <div class="card-content-primary">
      <img class="photo-pokemon" [src]="urlPhoto" alt="">
      <span class="name-pokemon">{{namePokemon}}</span>
    </div>
    <div class="card-content-secondary">
      <div class="section-primary">
          <div class="weight">
            <span class="title">Peso</span>
            <span class="number">{{weight/100}} kg</span>
          </div>
          <div class="height">
            <span class="title">Altura</span>
            <span class="number">{{height/10}} m</span>
          </div>
      </div>
      <div class="section-secondary">
        <div class="section-content-primary">
          <span class="title">Habilidades</span>
        </div>
        <div class="section-content-secondary">
          <ul>
            <li *ngFor="let data of abilities">
              {{data.ability.name}}
            </li>
          </ul>
        </div>
      </div>
      <div class="section-tertiary">
        <div class="section-content-primary">
          <span class="title">Tipos</span>
        </div>
        <div class="section-content-secondary">
          <ul>
            <li *ngFor="let data of typesPokemon">
              {{data.type.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <button class="nextButton" type="button" (click)="nextPokemon()">Siguiente</button>
</div>